<section class="ui attached segment">
        {{> latestreadings}}
    </section>
    <div class="ui two bottom attached buttons">
        <a class="ui right labeled icon blue button" href="/station/{{id}}"><i class="eye icon"></i> View/Add readings</a>
        <a class="ui right labeled icon grey button" href="/dashboard/deletestation/{{id}}"><i class="trash alternate icon"></i> Delete Station</a>
    </div>
<br>