<nav class="ui menu">
  <header class="ui header item"><a href="#"> WeatherTop </a></header>
  <div class="ui labeled icon right blue menu">
    <a id="dashboard" class="item" href="/dashboard"> <i class="table icon"></i>Dashboard</a>
    <a id="update" class="item" href="/edit"> <i class="sync icon"></i>Edit Login Details</a>
    <a id="logout" class="item" href="/logout"> <i class="sign out icon"></i>Logout</a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active blue item");
</script>
