{{> welcomemenu id='about' }}

<section class="ui segment">
    <h3 class="ui horizontal center aligned divider large header">About us</h3>
    <br>
    <img class="ui small right floated bordered rounded image" src="https://cdn.glitch.com/1c8527e3-a135-4e90-9bfa-57b061242937%2Frobert_fitzroy.jpg?v=1631488939720">
    <p><span class="ui large text">
    WeatherTop Inc. was founded by Admiral Robert FitzRoy, a celebrated sailor and founder of the Met Office.
    Robert wanted the joy of weather forecasting to be enjoyed by everyone.
    <br>
    <br>
    That is why he invented the WeatherTop 1000. This lowcost
    device takes a set of meteorological readings and displays these on a simple LCD
    display.
    <br>
    <br>
    The device is small enough you can bring it anywhere and is easy to use.
    It is also accurate and can be used by beginner or professional
    <br>
    <br>
  </span></p>
    <h3 class="ui horizontal center aligned divider large header">History</h3>
    <br>
    <img class="ui medium floated bordered rounded image" src="https://cdn.glitch.com/1c8527e3-a135-4e90-9bfa-57b061242937%2Fweather_forecast.jpg?v=1631488993319">
    <p><span class="ui large text">
    The first ever daily weather forecasts were published in The Times on August 1, 1861,
    and the first weather maps were produced later in the same year.
    <br>
    <br>
    In 1911, the Met Office began issuing the first marine weather forecasts via radio transmission.
    These included gale and storm warnings for areas around Great Britain.
    <br>
    <br>
    In the United States, the first public radio forecasts were made in 1925 by Edward B. "E.B." Rideout, on WEEI,
    the Edison Electric Illuminating station in Boston. Rideout came from the U.S. Weather Bureau,
    as did WBZ weather forecaster G. Harold Noyes in 1931.
    <br>
    <br>
    The world's first televised weather forecasts, including the use of weather maps,
    were experimentally broadcast by the BBC in 1936. This was brought into practice in 1949 after World War II.
    George Cowling gave the first weather forecast while being televised in front of the map in 1954.
    <br>
    <br>
    In America, experimental television forecasts were made by
    James C. Fidler in Cincinnati in either 1940 or 1947 on the DuMont Television Network.
    <br>
    <br>
    In the late 1970s and early 80s, John Coleman, the first weatherman on ABC-TV's Good Morning America,
    pioneered the use of on-screen weather satellite information and computer graphics for television forecasts.
    Coleman was a co-founder of The Weather Channel (TWC) in 1982.
    TWC is now a 24-hour cable network. Some weather channels have started broadcasting on
    live broadcasting programs such as YouTube and Periscope to reach more viewers.
    <br>
    <br>
  </span></p>
    <div class="ui divider"></div>
    <p><span class="ui small text">
    Images found via google image search:
    <br>
    Robert Fitzroy - en.wikipedia.org/wiki/Robert_FitzRoy
    <br>
    TV forecast - https://www.gettyimages.ie/detail/photo/mid-adult-woman-presenting-the-weather-forecast-on-royalty-free-image/57278471?adppopup=true
    <br>
    <br>
    Content extracted from:
    <br>
    https://www.bbc.com/news/magazine-32483678
    <br>
    https://en.wikipedia.org/wiki/Weather_forecasting
  </span></p>
</section>