{{> welcomemenu id='about' }}

<section class="ui center aligned middle aligned segment">
    <h3 class="ui horizontal center aligned divider large header">About us</h3>
    <br>
    <p>
        The WeatherTop application has been developed to WeatherTop Inc. in recording meteorological readings from the
        various weather stations around Ireland.<br>
        By inputting the latest readings as outlined within the application a display of current weather conditions
        within each station will be displayed for the user.
    </p>
</section>