{{> menu}}

<div class="ui placeholder segment">
  <h1 class="ui massive center aligned header">Edit Login Details</h1>
  <form class="ui form" action="/edit" method="POST">
    <div class="field">
      <label>First Name</label>
      <input placeholder="{{user.firstName}}" type="text" name="firstName" required="required">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input placeholder="{{user.lastName}}" type="text" name="lastName" required="required">
    </div>
    <div class="field">
      <label>Email</label>
      <input placeholder="{{user.email}}" type="text" name="email" required="required">
    </div>
    <div class="field">
      <label>Password</label>
      <input placeholder="{{user.password}}" type="password" name="password" required="required">
    </div>
    <br>
    <button class="ui right labeled icon blue fluid button"><i class="sync icon"></i>Update Details</button>
    <h3 class="ui center aligned header">You will be redirected to the login screen and have to login using your new
      details</h3>
  </form>
</div>