{{> welcomemenu id='index' }}

<section class="ui center aligned segment">
    <h1 class="ui blue massive header">Welcome to the WeatherTop web app</h1>
    <h3 class="ui large header">Many thanks for purchasing the WeatherTop Watch Tower weather application</h3>
    <img class="ui centered large bordered rounded image" src="https://cdn.glitch.global/24b6445b-710c-4881-8bab-68c4f3a13373/thumbnails_Weather-top.jpg?v=1661077603428">
    <br>
    <p><span class="ui large text">
    This web app will make it easy for you to keep a record of your readings from stations around the country.
  </span></p>
    <p><span class="ui large text">
    Also converting your readings into other metrics and identifying trends.
  </span></p>
    <p><span class="ui medium text">
    Click <a href="/login">Login</a> on the top right menu to login if you are an existing user.
  </span></p>
    <p><span class="ui medium text">
    Or click <a href="/signup">Sign up</a> on the top right menu to register.
  </span></p>

</section>