{{> welcomemenu id="signup"}}

<div class="ui placeholder segment">
    <h1 class="ui massive center aligned header">Sign up here</h1>
    <form class="ui form" action="/register" method="POST">
        <div class="field">
            <label>First Name</label>
            <input placeholder="First Name" type="text" name="firstName">
        </div>
        <div class="field">
            <label>Last Name</label>
            <input placeholder="Last Name" type="text" name="lastName">
        </div>
        <div class="field">
            <label>Email</label>
            <input placeholder="Email" type="text" name="email">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="password">
        </div>
        <br>
        <button class="ui right labeled icon blue fluid button"><i class="signup icon"></i>Sign up</button>
    </form>
</div>